body {
    font-family: Poppins, sans-serif;
    padding: 20px;
    background: #0b1627;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 15px #82aaff;
}

/* Box input */
.box {
    background: rgba(255, 255, 255, 0.06);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    backdrop-filter: blur(5px);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 90%;
    margin-top: 5px;
    font-size: 14px;
}

button {
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 80%;
    margin-top: 8px;
    background: #82aaff;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #a6c5ff;
}

/* Grid Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 18px;
    margin-top: 20px;
}

.post {
    background: rgba(255, 255, 255, 0.06);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(4px);
}

/* Gambar proporsi asli */
.post img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    border-radius: 10px;
    border: 3px solid #82aaff;
    background: #000;
}

.del-btn {
    margin-top: 10px;
    padding: 6px;
    border-radius: 6px;
    background: #ff6b6b;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
}
